:root {
  --primary-0: rgb(255,251,252);
  --primary-5: hsl(345, 95%, 95%, 1);
  --primary-10: hsl(345, 95%, 93%, 1);
  --primary-20: rgb(254,183,203);
  --primary-30: rgb(253,145,181);
  --primary-40: rgb(253,100,161);
  --primary-50: rgb(250,21,143);
  --primary-60: rgb(209,16,121);
  --primary-default: rgb(209,16,121);
  --primary-70: rgb(171,11,95);
  --primary-80: rgb(134,6,71);
  --primary-90: rgb(98,3,49);
  --primary-100: rgb(65,1,29);

  --secondary-0: rgb(247,253,255);
  --secondary-10: hsl(190, 100%, 82%);
  --secondary-20: rgb(27,222,245);
  --secondary-30: rgb(22,196,214);
  --secondary-40: rgb(18,170,185);
  --secondary-50: rgb(14,149,161);
  --secondary-default: rgb(14,149,161);
  --secondary-60: rgb(9,121,132);
  --secondary-70: rgb(6,97,107);
  --secondary-80: rgb(3,75,83);
  --secondary-90: rgb(2,53,60);
  --secondary-100: rgb(1,33,38);

  --tertiary-0: rgb(255,252,242);
  --tertiary-5: 	hsl(50, 100%, 90%);
  --tertiary-10: 	hsl(50, 100%, 54%);
  --tertiary-default: rgb(255,216,19);
  --tertiary-20: rgb(236,200,0);
  --tertiary-30: rgb(207,176,0);
  --tertiary-40: rgb(179,153,0);
  --tertiary-50: rgb(152,131,0);
  --tertiary-60: rgb(126,109,0);
  --tertiary-70: rgb(101,88,0);
  --tertiary-80: rgb(78,67,0);
  --tertiary-90: rgb(55,48,0);
  --tertiary-100: rgb(34,29,0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 2em;
}
h1, h2 {
  color: var(--primary-default);
}
p {
  line-height: 1.6em;
  font-size: 18px;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
nav li {
  padding: 8px 16px 8px 0;
}
main, nav {
  max-width: 750px;
}
form {
  background-color: var(--primary-5);
  margin: 40px auto;
  max-width: 400px;
  padding: 32px;
}
label {
  font-weight: 700;
}
button {
  background-color:  var(--primary-default);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  padding: 16px 32px;
  text-transform: uppercase;
  width: 100%;
}
input {
  padding: 8px 16px;
  width: 100%;
}
a {
  color: var(--secondary-default);
  border-bottom: 1px solid var(--primary-20);
  box-shadow: var(--primary-20) 0 -2px 0 0 inset;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

a:hover {
  background-color: var(--primary-20);
}
.img-circle {
  background-color: var(--tertiary-5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  height: 150px;
  width: 150px;
}
.img-circle img {
  width: 80px;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 3em;
  }
  header {
    display: grid;
    gap: 24px;
    grid-template-columns: 150px 1fr;
  }
}
